<!-- 分类 -->
<ion-view view-title="全部分类" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar class="bar-assertive header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" btn-back></button>
		</div>
		<h1 class="title">{{'10000100'|T}}</h1>
		<div class="buttons" ui-sref="mall.search({type:'goods'})">
			<button class="button iconfont icon-search button-clear"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<!-- 内容 -->
		<div class="category">
			<div class="category-right">
				<div class="empty" ng-if="orderEmpty">
					<div class="common-empty">{{'1000066'|T}}</div>
				</div>
				<div class="category-item" ng-repeat="(pid,p1) in catedetail" ng-if="!orderEmpty" style="background: #fff;">
					<p style="margin-bottom: 0;border-bottom: 1px solid #eee;line-height: 45px;"><img style="width: 20px;height: 20px;margin-right: 10px;margin-left: 10px;"  ng-src="{{p1.thumb || 'img/noGoods.png'}}" alt="">{{p1.title}}</p>
					<dl class="clr" style="margin-bottom: 10px;">
						<dd  ng-repeat="(b,p2) in p1.son" ui-sref="mall.list({type:'goods',cid:p2.id})" >
							<div>
								<img ng-src="{{p2.thumb || 'img/noGoods.png'}}" style="width: 50vw;height: 48vw;height: calc(23vw - 8px);display: block;">
							</div>
							<p class="text-overflow_1" ng-bind="p2.title" style="margin-top: 5px;"></p>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>

