<ion-view view-title="注册" hide-nav-bar="true">
	<ion-content class="sig-content log-content">
		<div class="log-con">
			<img ng-src="{{info || 'img/imgs/reg-headimg.png'}}" alt="">
			<button class="icon ion-ios-arrow-left button-clear" btn-back></button>
			<div class="log-message">
				<div>
					<span></span>
					<input type="number" placeholder="{{'1000072'|T}}"  maxlength="11" ng-model="reg.mobile">
				</div>
				<div class="pt10">
					<span></span>
					<input type="number" placeholder="{{'10000140'|T}}" maxlength="11" ng-model="reg.tMobile">
				</div>
				<div class="pt10 reg-yzm-con">
					<div>
						<span class="reg-yzm"></span>
						<input class="reg-yzm-inp" type="number" ng-model="reg.captcha"  maxlength="6" placeholder="{{'1000040'|T}}">
					</div>
					<button style="background: transparent" ng-click="getCaptcha()" ng-disabled="reg.bol">
						<a ng-if="!reg.bol">{{'10000132'|T}}</a><a ng-if="reg.bol">{{'10000133'|T}}{{reg.number}}s</a>
					</button>
				</div>
				<div class="pt10">
					<span class="log-psd"></span>
					<input type="password" ng-model="reg.password" placeholder="{{'10000142'|T}}">
				</div>
			</div>
			<div class="pay-btn log-btn">
				<button ng-click="registerSubmit()">{{'10000141'|T}}</button>
			</div>
		</div>
	</ion-content>
</ion-view>
