<ion-view view-title="账号绑定" hide-nav-bar="true">
	<ion-header-bar>
		<div class="pro-head foo-head">
			<a btn-back></a>
			<span>账号绑定</span>
			<i></i>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="log-message res-message">
			<div>
				<span></span>
				<input type="number" placeholder="请输入手机号">
			</div>
			<div class="reg-yzm-con">
				<div>
					<span class="reg-yzm"></span>
					<input class="reg-yzm-inp" type="number" placeholder="请输入验证码">
				</div>
				<a>发送验证码</a>
			</div>
			<div>
				<span class="log-psd"></span>
				<input type="password" placeholder="请输入密码">
			</div>
		</div>
		<div class="pay-btn log-btn">
			<button>提交</button>
		</div>

	</ion-content>
</ion-view>

