<!-- 我的余额 -->
<ion-view view-title="城市服务商记录" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar class="bar-assertive header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" btn-back></button>
		</div>
		<h1 class="title">城市服务商记录</h1>
	</ion-header-bar>
	<div class="bar bar-subheader s-point-list">
		<div class="ydgy-header">
			<div class="top flex">
				<div class="flex_1 search">
					<i class="iconfont icon-search" ></i>
					<input type="text" placeholder="请输入用户ID" ng-model="keywords" style="border: 1px solid #dadada;">
				</div>
				<div class="buttons" style="margin-top: -2px;" ng-click="search(keywords)">
					<button class="button button-clear" style="font-size: 16px;color: #000;">搜索</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 内容 -->
	<ion-content>
		<ion-refresher pulling-text="下拉刷新" refreshing-icon="" on-refresh="doRefresh()"></ion-refresher>
		<div style="height:44px"></div>
		<div class="cx_remaining_cont">
			<div class="car-empty" ng-if="orderEmpty">
				<div class="col-empty-bg"></div>
				<span>什么也没有...</span>
			</div>
			<div class="remin_list" ng-if="!orderEmpty">
				<ul>
					<li class="box-sizing">
						<div class="remin_text">
							<span class="list_fl">用&nbsp;&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;I&nbsp;&nbsp;D</span>
							<span class="list_fr assertive">{{globalInfo.data.uid}}</span>
						</div>
						<div class="remin_text">
							<span class="list_fl">区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域</span>
							<span class="list_fr assertive">{{list.birth}}</span>
						</div>
						<div class="remin_text">
							<span class="list_fl">团队销售额</span>
							<span class="list_fr assertive">{{list.teamPrice}}元</span>
						</div>
					</li>
					<li class="box-sizing" ng-repeat="x in list.info">
						<div class="remin_text">
							<span class="list_fl">用&nbsp;&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;I&nbsp;&nbsp;D</span>
							<span class="list_fr">{{x.uid}}</span>
						</div>
						<div class="remin_text">
							<span class="list_fl">区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域</span>
							<span class="list_fr">{{x.province}}{{x.city}}{{x.dist}}</span>
						</div>
						<div class="remin_text">
							<span class="list_fl">团队销售额</span>
							<span class="list_fr">{{x.consume}}元</span>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<ion-infinite-scroll ng-if="noMore" on-infinite="loadMore()" distance="1%" immediate-check="false">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>

