<!-- 优惠券 -->
<ion-view view-title="优惠券" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar>
		<div style="width: 100%">
			<div class="pro-head foo-head">
				<a btn-back></a>
				<span>优惠券</span>
				<i></i>
			</div>
			<ul class="ord-tabs cou-tabs">
				<li><a href="javescript:;"><div class="ord-tab-title ord-tab-active"><span>已使用</span></div></a></li>
				<li><a href="javescript:;"><div class="ord-tab-title"><span>未使用</span></div></a></li>
				<li><a href="javescript:;"><div class="ord-tab-title"><span>已失效</span></div></a></li>
			</ul>
		</div>
	</ion-header-bar>
	<!-- 内容 -->
	<ion-content style="top: 88px">
		<!-- 订单为空时 -->
		<div class="car-empty ord-empty">
			<div class="cou-empty-bg"></div>
			<span>您还没有优惠券哦~</span>
		</div>
	</ion-content>
</ion-view>

