<!-- 商品收藏 -->
<ion-view view-title="商品收藏" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar>
		<div style="width: 100%;">
			<div class="pro-head">
				<a href="javascript:;" class="cla-back" btn-back></a>
				<ul class="pro-nav col-nav">
					<li>店铺</li>
					<li class="pro-active">商品</li>
				</ul>
			</div>
			<ul class="ord-tabs col-tabs">
				<li><a href="javescript:;"><div class="ord-tab-title col-tab-active"><span>默认</span></div></a></li>
				<li><a href="javescript:;"><div class="ord-tab-title"><span>降价</span></div></a></li>
				<li><a href="javescript:;"><div class="ord-tab-title"><span>促销</span></div></a></li>
				<li><a href="javescript:;"><div class="ord-tab-title"><span>分类</span></div></a></li>
				<li><a href="javescript:;"><div class="ord-tab-title"><span>库存</span></div></a></li>
			</ul>
		</div>
	</ion-header-bar>
	<ion-content style="top: 90px;">
		<!-- 收藏为空时 -->
		<!--<div class="car-empty">-->
			<!--<div class="col-empty-bg"></div>-->
			<!--<span>您还没有收藏过商品哦~</span>-->
		<!--</div>-->
		<div class="cla-con">
			<ul class="col-tabs-list">
				<li class="ord-tab-item">
					<div class="ord-detail col-details">
						<div class="ord-left col-right">
							<img src="../img/imgs/images/goodsColl1_03.jpg" alt="">
							<div class="ord-good-det">
								<p>奥迪CS35 2018款1.6L自动   豪华型 2018款1.6L自动   豪华型</p>
								<span class="col-price">$39.00
									<span class="col-pri-old">$589.00</span>
								</span>
								<span class="car-con-bot">
									<span>
										<span class="mr8">销量:206</span>
										<span>收藏:999</span>
									</span>
								</span>
							</div>
						</div>
					</div>
				</li>
				<li class="ord-tab-item">
					<div class="ord-detail col-details">
						<div class="ord-left col-right">
							<img src="../img/imgs/images/goodsColl1_03.jpg" alt="">
							<div class="ord-good-det">
								<p>奥迪CS35 2018款1.6L自动   豪华型 2018款1.6L自动   豪华型</p>
								<span class="col-price">$39.00
									<span class="col-pri-old">$589.00</span>
								</span>
								<span class="car-con-bot">
									<span>
										<span class="mr8">销量:206</span>
										<span>收藏:999</span>
									</span>
								</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<!-- 为您推荐 -->
			<div class="ind-hotListTit nomargTop">
				<img src="../img/imgs/col-tuijian.png">
			</div>
			<div class="ind-tuijian">
				<div class="ind-tuijian-item">
					<img src="../img/imgs/tuijian1.jpg" alt="">
					<div class="ind-tuijian-con">
						<p class="ind-tuijian-tit text-overflow_2">
							旅行迷你小包 多功能收包化妆包 蓝色花点点蓝色花点点蓝色花点点蓝色花点点...
						</p>
						<span class="price">$39.00</span>
					</div>
				</div>
				<div class="ind-tuijian-item">
					<img src="../img/imgs/tuijian2.jpg" alt="">
					<div class="ind-tuijian-con">
						<p class="ind-tuijian-tit text-overflow_2">
							旅行迷你小包 多功能收包化妆包 蓝色花点点蓝色花点点蓝色花点点...
						</p>
						<span class="price">$39.00</span>
					</div>
				</div>
			</div>
			<div class="ind-tuijian">
				<div class="ind-tuijian-item">
					<img src="../img/imgs/tuijian1.jpg" alt="">
					<div class="ind-tuijian-con">
						<p class="ind-tuijian-tit text-overflow_2">
							旅行迷你小包 多功能收包化妆包 蓝色花点点蓝色花点点蓝色花点点蓝色花点点...
						</p>
						<span class="price">$39.00</span>
					</div>
				</div>
				<div class="ind-tuijian-item">
					<img src="../img/imgs/tuijian2.jpg" alt="">
					<div class="ind-tuijian-con">
						<p class="ind-tuijian-tit text-overflow_2">
							旅行迷你小包 多功能收包化妆包 蓝色花点点蓝色花点点蓝色花点点...
						</p>
						<span class="price">$39.00</span>
					</div>
				</div>
			</div>
			<div class="ind-tuijian">
				<div class="ind-tuijian-item">
					<img src="../img/imgs/tuijian1.jpg" alt="">
					<div class="ind-tuijian-con">
						<p class="ind-tuijian-tit text-overflow_2">
							旅行迷你小包 多功能收包化妆包 蓝色花点点蓝色花点点蓝色花点点蓝色花点点...
						</p>
						<span class="price">$39.00</span>
					</div>
				</div>
				<div class="ind-tuijian-item">
					<img src="../img/imgs/tuijian2.jpg" alt="">
					<div class="ind-tuijian-con">
						<p class="ind-tuijian-tit text-overflow_2">
							旅行迷你小包 多功能收包化妆包 蓝色花点点蓝色花点点蓝色花点点...
						</p>
						<span class="price">$39.00</span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>

