<ion-view view-title="修改密码" hide-nav-bar="true">
	<ion-header-bar class="bar-assertive header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" btn-back></button>
		</div>
		<h1 class="title" ng-if="type == 1">{{'1000034'|T}}</h1>
		<h1 class="title" ng-if="type == 2">{{'1000039'|T}}</h1>
	</ion-header-bar>
	<ion-content>
		<div class="log-message res-message">
			<div>
				<span></span>
				<input type="text" ng-model="globalInfo.data.mobile" disabled>
			</div>
			<div ng-if="type == 1">
				<span class="log-psd"></span>
				<input type="password" placeholder="{{'1000035'|T}}" ng-model="pageData.oldpsd">
			</div>
			<div>
				<span class="log-psd"></span>
				<input type="password" ng-model="pageData.newpsd" placeholder="{{'1000036'|T}}">
			</div>
			<div>
				<span class="log-psd"></span>
				<input type="password" ng-model="pageData.respsd" placeholder="{{'1000037'|T}}">
			</div>
<!-- 			<div class="reg-yzm-con" ng-if="type == 2">
				<div>
					<span class="reg-yzm"></span>
					<input class="reg-yzm-inp" type="number" maxlength="9" ng-model="pageData.code" placeholder="{{'1000040'|T}}">
				</div>
				<button style="background: transparent" ng-click="getCaptcha()" ng-disabled="reg.bol">
					<a ng-if="!reg.bol">{{'10000132'|T}}</a><a ng-if="reg.bol">{{'10000133'|T}}{{reg.number}}s</a>
				</button>
			</div> -->
		</div>
		<div class="pay-btn log-btn">
			<button ng-click="savePsd()">{{'1000038'|T}}</button>
		</div>
	</ion-content>
</ion-view>

