<!-- 签到 -->
<ion-view view-title="签到领D扣券" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar>
		<div class="pro-head foo-head">
			<a btn-back></a>
			<span>签到领D扣券</span>
			<i></i>
		</div>
	</ion-header-bar>
	<ion-content class="sig-content">
		<div class="sig-bg">
			<div class="sig-con">
				<img src="../img/imgs/sign-whiteBg.jpg" alt="">
				<div class="sig-details">
					<div class="fou-item-head">
						<div class="sig-head-left">
							<img src="../img/imgs/images/sign-headimg_03.jpg" alt="">
							<div class="sig-head-tit">
								<span class="text-overflow_1">张三三三MMMMMMMMMMMMMMM</span>
								<span class="fou-head-bot">已累计有效D扣券 : 5</span>
							</div>
						</div>
						<div class="sig-btn">
							<span>签到提醒</span>
							<label class="toggle toggle-active">
								<input type="checkbox">
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</div>
					</div>
					<div class="sig-center">
						<span>已连续签到第<span class="sig-days">1</span>天</span>
						<span class="sig-cen-center">再连续签到3天，即可获取30D扣券</span>
						<button>签到</button>
					</div>
					<div class="sig-bot">
						<span class="sig-line"></span>
						<ul class="sig-day">
							<li>
								<span class="sig-icon sig-icon-active"></span>
								<span><span class="sig-red">1</span>天</span>
							</li>
							<li>
								<span class="sig-icon"></span>
								<span><span class="sig-red">2</span>天</span>
							</li>
							<li>
								<span class="sig-icon"></span>
								<span><span class="sig-red">3</span>天</span>
							</li>
							<li>
								<span class="sig-icon"></span>
								<span><span class="sig-red">4</span>天</span>
							</li>
							<li>
								<span class="sig-icon"></span>
								<span><span class="sig-red">5</span>天</span>
							</li>
							<li>
								<span class="sig-icon"></span>
								<span><span class="sig-red">6</span>天</span>
							</li>
							<li>
								<span class="sig-icon"></span>
								<span><span class="sig-red">7</span>天</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>


