<!-- 发现好店 -->
<ion-view view-title="发现好店" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar>
		<div class="pro-head foo-head">
			<a btn-back></a>
			<span>发现好店</span>
			<i></i>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="cla-con">
			<div class="lov-banner">
				<img src="../img/imgs/images/foundStore-banner1_02.jpg" alt="">
			</div>
			<ul class="fou-tabs-list">
				<li class="lov-tab-item">
					<div class="fou-item-head">
						<div class="fou-head-left">
							<span>原生态新鲜水果旗舰店</span>
							<span class="fou-head-bot">7天包换 72小时发货</span>
						</div>
						<button>进店看看</button>
					</div>
					<div class="fou-item-det">
						<img src="../img/imgs/images/foundStore-img1_03.jpg" alt="">
						<img src="../img/imgs/images/foundStore-img2_03.jpg" alt="">
						<div class="fou-det-right">
							<img src="../img/imgs/images/foundStore-img3_03.jpg" alt="">
							<img src="../img/imgs/images/foundStore-img3_03.jpg" alt="">
							<div class="fou-item-more">
								<span class="fou-more-size">+</span>
								<span>共37件商品</span>
							</div>
						</div>
					</div>
				</li>
				<li class="lov-tab-item">
					<div class="fou-item-head">
						<div class="fou-head-left">
							<span>原生态新鲜水果旗舰店</span>
							<span class="fou-head-bot">7天包换 72小时发货</span>
						</div>
						<button>进店看看</button>
					</div>
					<div class="fou-item-det">
						<img src="../img/imgs/images/foundStore-img1_03.jpg" alt="">
						<img src="../img/imgs/images/foundStore-img2_03.jpg" alt="">
						<div class="fou-det-right">
							<img src="../img/imgs/images/foundStore-img3_03.jpg" alt="">
							<img src="../img/imgs/images/foundStore-img3_03.jpg" alt="">
							<div class="fou-item-more">
								<span class="fou-more-size">+</span>
								<span>共37件商品</span>
							</div>
						</div>
					</div>
				</li>
				<li class="lov-tab-item">
					<div class="fou-item-head">
						<div class="fou-head-left">
							<span>原生态新鲜水果旗舰店</span>
							<span class="fou-head-bot">7天包换 72小时发货</span>
						</div>
						<button>进店看看</button>
					</div>
					<div class="fou-item-det">
						<img src="../img/imgs/images/foundStore-img1_03.jpg" alt="">
						<img src="../img/imgs/images/foundStore-img2_03.jpg" alt="">
						<div class="fou-det-right">
							<img src="../img/imgs/images/foundStore-img3_03.jpg" alt="">
							<img src="../img/imgs/images/foundStore-img3_03.jpg" alt="">
							<div class="fou-item-more">
								<span class="fou-more-size">+</span>
								<span>共37件商品</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>
