<ion-view view-title="商品列表" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar class="header-back bar-assertive flex" style="padding: 7px 5px;">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" btn-back></button>
		</div>
		<div class="cata-search flex_1" ui-sref="mall.search({type: 'goods', spid: spid})">
			<i class="iconfont icon-search"></i>
			<input type="text" class='flex' style="background: #fff;" placeholder="{{'10000159'|T}}" ng-model="keywords">
		</div>
		<!--<div class="buttons">-->
			<!--<button class="button button-clear" style="font-size: 14px;" ng-click="search()">搜索</button>-->
		<!--</div>-->
	</ion-header-bar>
	<div class="bar bar-subheader" style="z-index: 6;">
		<ul class="ord-tabs">
			<li ng-click="listcompreShow('综合')" ng-class="{'active': marking == '综合'}"><div class="ord-tab-title"><span>{{'10000162'|T}}</span></div></li>
			<li ng-click="listcompreShow('销量')" ng-class="{'active': marking == '销量'}"><div class="ord-tab-title"><span>{{'10000163'|T}}</span></div></li>
			<li ng-click="listcompreShow('人气')" ng-class="{'active': marking == '人气'}"><div class="ord-tab-title"><span>{{'10000164'|T}}</span></div></li>
			<li ng-click="listcompreShow('价格')" ng-class="{'active': marking == '价格'}">
				<div class="ord-tab-title">
					<span class="lis-jiage">{{'10000165'|T}}</span>
					<span class="u_d">
						<i class="icon ion-arrow-up-b" ng-class="{'active':marking_price == 1}"></i>
						<i class="icon ion-arrow-down-b" ng-class="{'active':marking_price == 2}"></i>
					</span>
				</div>
			</li>
		</ul>
	</div>
	<ion-content style="top: 90px;">
		<ion-refresher pulling-text="{{'10000161'|T}}..." on-refresh="doRefresh()"></ion-refresher>

		<div class="car-empty" ng-if="orderEmpty">
			<div></div>
			<span>{{'10000166'|T}}</span>
		</div>
		<div class="ind-tuijian" ng-if="!orderEmpty">
			<div class="ind-tuijian-item"  ng-repeat="goods in lists" ui-sref="mall.goods({id:goods.id})">
				<img ng-src="{{goods.thumb || 'img/noGoods.png'}}" alt="" width="100%">
				<div class="ind-tuijian-con">
					<p class="ind-tuijian-tit text-overflow_1" style="height: 21px;">{{goods.goodsName}}</p>
					<span class="price">${{goods.spe_price}}<span class="lis-pri-old">${{goods.marketprice}}</span></span>
					<p class="lis-num">{{'10000163'|T}}:{{goods.sales}} {{'10000110'|T}}:{{goods.care}}</p>
				</div>
			</div>
		</div>

		<ion-infinite-scroll ng-if="noMore" on-infinite="loadMore()" distance="1%" icon="" immediate-check="false"  icon="ion-load-d"></ion-infinite-scroll>
	</ion-content>
</ion-view>
