<!-- 爱生活 -->
<ion-view view-title="爱生活" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar>
		<div class="pro-head foo-head">
			<a btn-back></a>
			<span>爱生活</span>
			<i></i>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="cla-con">
			<div class="lov-banner">
				<img src="../img/imgs/images/lovelife-banner1_02.jpg" alt="">
			</div>
			<ul class="col-tabs-list">
				<li class="lov-tab-item">
					<div class="ord-detail col-details">
						<div class="ord-left col-right foo-right">
							<img src="../img/imgs/images/lovelife-img1_03.jpg" alt="">
							<div class="ord-good-det">
								<p>欧式简约沙发 <span class="ml8"> 包邮</span></p>
								<span>时尚家居 品质生活 简约家居 让生活更有格调</span>
								<span class="foo-item-bot">
									<span class="col-price">$1368.00</span>
									<span class="lov-buy">购买</span>
								</span>
							</div>
						</div>
					</div>
				</li>
				<li class="lov-tab-item">
					<div class="ord-detail col-details">
						<div class="ord-left col-right foo-right">
							<img src="../img/imgs/images/lovelife-img1_03.jpg" alt="">
							<div class="ord-good-det">
								<p>欧式简约沙发 <span class="ml8"> 包邮</span></p>
								<span>时尚家居 品质生活 简约家居 让生活更有格调</span>
								<span class="foo-item-bot">
									<span class="col-price">$1368.00</span>
									<span class="lov-buy">购买</span>
								</span>
							</div>
						</div>
					</div>
				</li>
				<li class="lov-tab-item">
					<div class="ord-detail col-details">
						<div class="ord-left col-right foo-right">
							<img src="../img/imgs/images/lovelife-img1_03.jpg" alt="">
							<div class="ord-good-det">
								<p>欧式简约沙发 <span class="ml8"> 包邮</span></p>
								<span>时尚家居 品质生活 简约家居 让生活更有格调</span>
								<span class="foo-item-bot">
									<span class="col-price">$1368.00</span>
									<span class="lov-buy">购买</span>
								</span>
							</div>
						</div>
					</div>
				</li>
				<li class="lov-tab-item">
					<div class="ord-detail col-details">
						<div class="ord-left col-right foo-right">
							<img src="../img/imgs/images/lovelife-img1_03.jpg" alt="">
							<div class="ord-good-det">
								<p>欧式简约沙发 <span class="ml8"> 包邮</span></p>
								<span>时尚家居 品质生活 简约家居 让生活更有格调</span>
								<span class="foo-item-bot">
									<span class="col-price">$1368.00</span>
									<span class="lov-buy">购买</span>
								</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>

