<ion-view view-title="资金信息" hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar class="bar-assertive header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" btn-back></button>
		</div>
		<h1 class="title">{{'10000292'|T}}</h1>
	</ion-header-bar>
	<!-- 内容 -->
	<ion-content>
		<h3 class="mon-tit">{{'100001'|T}}{{'10000292'|T}}</h3>
		<ul>
			<li class="rec-act new-act-inp">
				<span>{{'1000055'|T}}</span>
				<span class="mon-info">${{shopOrder.one}}</span>
			</li>
			<li class="rec-act new-act-inp">
				<span>{{'1000054'|T}}</span>
				<span class="mon-info">${{shopOrder.two }}</span>
			</li>
			<li class="rec-act new-act-inp">
				<span>{{'10000294'|T}}</span>
				<span class="mon-info">${{shopOrder.three}}</span>
			</li>
			<li class="rec-act new-act-inp">
				<span>{{'10000295'|T}}</span>
				<span class="mon-info">${{shopOrder.four}}</span>
			</li>
			<li class="rec-act new-act-inp">
				<span>{{'10000296'|T}}</span>
				<span class="mon-info">${{shopOrder.five}}</span>
			</li>
			<li class="rec-act new-act-inp">
				<span>{{'10000297'|T}}</span>
				<span class="mon-info">${{shopOrder.six}}</span>
			</li>
			<li class="rec-act new-act-inp">
				<span>{{'10000300'|T}}</span>
				<span class="mon-info">${{shopOrder.seven}}</span>
			</li>
			<li class="rec-act new-act-inp">
				<span>{{'10000298'|T}}</span>
				<span class="mon-info">${{shopOrder.eight}}</span>
			</li>
			<li class="rec-act new-act-inp">
				<span>{{'10000299'|T}}</span>
				<span class="mon-info">${{shopOrder.nine}}</span>
			</li>
			<li class="rec-act new-act-inp">
				<span>{{'10000301'|T}}</span>
				<span class="mon-info">${{shopOrder.ten}}</span>
			</li>
		</ul>
	</ion-content>
</ion-view>
